@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Examples</h1>
    <p><a href="/EV5.ALTE-AdminLTE.index.html">Admin LTE</a>.</p>
</div>
